.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row{
    display: flex;
}

body{
    background-color: dimgrey;
}

.column{
    width: 50%;
    padding: 5px;
}

.profileImage{
    height: 50%;
    overflow: hidden;
}

.title{
    color: white;
}

em{
    color: maroon;
}

.discount{
    background: dimgrey;
    border: maroon solid 5px;
    padding: 5px;
    color: white;
    margin: auto;
    max-width: 500px;
    text-align: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.winnings{
    visibility: hidden;
}

.testing{
    display: none;
}

#claimDiscount{
    display: none;
}